<div fxLayoutAlign="center">
  <mat-card>
    <mat-card-title>Add new post</mat-card-title>
    <mat-card-content>
      <form [formGroup]="post" (ngSubmit)='onSubmit()'>
        <mat-form-field>
          <input matInput aria-label="title" placeholder="Post title" type="text" formControlName="title" required
            data-cy="inputTitle" />
          <mat-error *ngIf="post.get('title')['errors'] && 
          post.get('title').touched">
            {{ getErrorMessage(post.get('title')['errors']) }}
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
          <textarea matInput cdkTextareaAutosize aria-label="text" placeholder="text" type="text" required
            formControlName="text" data-cy="inputText"></textarea>
          <mat-error *ngIf="post.get('text')['errors'] && 
          post.get('text').touched">
            {{ getErrorMessage(post.get('text')['errors']) }}
          </mat-error>
        </mat-form-field>
        <br>
        <div fxLayoutAlign="center">
          <button color="primary" data-cy="newPostBtn" mat-raised-button [disabled]='!post.valid'>
            Create new post
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
