<div fxLayout="row" fxLayoutAlign="center center" class="login-main">
  <mat-card>
    <form [formGroup]="user" (ngSubmit)="onSubmit()">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>

      <mat-card-content fxLayout="column">
        <mat-form-field>
          <input matInput placeholder="Email" aria-label="email" formControlName="username" />
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" aria-label="password" formControlName="password" />
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayoutAlign="space-around center">
        <button mat-raised-button type="button" data-cy="register-button" [routerLink]="['/register']">
          Register
        </button>
        <button mat-raised-button type="submit" color="primary" data-cy="login-button">
          Login
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
