.c_page-not-found {
  background-color: #ff4081;
  color: #fff;
  font-size: 100%;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  border-radius: 27px;
  margin: 5rem;
  padding-bottom: 5rem;
  box-shadow: #ff73c6 -5px 5px 0px, #ffa4ff -10px 10px 0px, #f6d2ff -15px 15px 0px;
}

.c_page-not-found p {
  font-size: 2em;
  text-align: center;
  font-weight: 100;
}

.c_page-not-found h1 {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 15em;
  font-weight: 600;
  color: rgb(255, 255, 255);
  text-shadow: #da0364 -5px 5px 0px, #b50048 -10px 10px 0px, #91002f -15px 15px 0px;
}
